<div class="card text-center bg-light" id="create-card-modal">
    <article class="card-body mx-auto">
        <h4 class="card-title mt-3 text-center">Create new card</h4>
        <form action="/reg-success" method="post">
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                 </div>
                <input name="card-name" class="form-control" placeholder="New card" type="text">
            </div> <!-- form-group// -->
        </form>
    </article>
</div>